[build-system]
requires = ["setuptools>=64", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]
include = ["my_projects*"]
exclude = ["notebooks*", "reports*", "data*", "models*", "logs*", "predictions*", "lightning_logs*"]
[tool.setuptools.package-data]
"animal_classification" = ["data/mini_animals/**/*"]

[project]
name = "animal-classification"
version = "0.2.3"
description = "A deep learning project to classify 90 different animals using VGG architectures."
readme = "README.md"
requires-python = ">=3.9"
license = "MIT"

authors = [
  { name = "Andrés Malón", email = "andresmalon@gmail.com" },
  { name = "Roberto Aldanondo", email = "robertoaj02@gmail.com" }
]

keywords = ["deep-learning", "computer-vision", "animals", "image-classification", "pytorch"]

classifiers = [
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent"
]

# Full dependencies (training + inference)
dependencies = [
  "torch",
  "torchvision",
  "pytorch-lightning",
  "pillow",
  "kagglehub",
  "build>=1.3.0",
  "gradio>=4.44.1",
  "numpy>=2.0.2",
  "pandas>=2.3.3",
  "seaborn>=0.13.2",
  "twine>=6.2.0",
  "matplotlib>=3.9.4",
  "scikit-learn>=1.6.1"
]

# Optional dependencies
[project.optional-dependencies]
dev = ["pdoc>=15.0.4"]
demo = [
    "gradio>=4.44.1",
    "numpy>=2.0.2",
    "pandas>=2.3.3",
    "seaborn>=0.13.2",
    "matplotlib>=3.9.4",
    "pillow"
]

[project.urls]
Homepage = "https://github.com/yourusername/animal-classification"
Repository = "https://github.com/yourusername/animal-classification"

[project.scripts]
animal-download-data = "my_projects.download_data:main"
animal-reduce-data = "my_projects.reduce_data:main"
animal-train = "my_projects.modeling.train:main"
animal-infer = "my_projects.modeling.inference:run_inference"
animal-dashboard = "my_projects.scripts.dashboard:main"

# ✅ UV single-command demo
[tool.uv]
package = true

[tool.pdoc]
docformat = "numpy"
